
a {
	color: navy;
	text-decoration: none;
}

a:HOVER {
	color: gray;
}

a:VISITED {
	color: purple;
}

body {
	font-family: sans-serif;
}

.clear {
	clear: both;
}

#data {
	float: left;
}

.data {
	height: 1.5em;
}

.data-output {
	color: fuchsia;
}

#field {
	float: left;
	margin-right: 5px;
}

.field {
	height: 1.5em;
	text-align: right;
}

.field-error-message {
	color: red;
}

fieldset {
	display: inline-block;
	width: auto;
}

#info {
	width: auto;
	margin-bottom: 5px;
}

.output {
	font-family: monospace;
	white-space: pre-wrap;
	clear: both;
}

.spaced {
	margin-top: 20px;
}